body {
    background-color: tomato;
}

#add-book-form-container {
    background-color: hotpink;
}

#book-case {
    background-color: yellow;
    border: solid;
    width: 100%;
    height: 500px;
}